* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

/* Links default styling reset */
a {
    text-decoration: none;
    color: white;
}


.navbar {
    height: 60px;
    background: black;
    border-bottom: 1px solid #222;
}

.nav-container {
    height: 60px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
}


.logo img {
    width: 70px;
    height: auto;
}

.logo {
    margin-right: 30px;
}

/* Main navigation */

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    font-size: 13px;
}

.nav-links a:hover {
    color: #ffc915;
}

/* Nav items right container box alignment */
.nav-right {
    margin-left: auto;

    display: flex;
    align-items: center;
}

/* Community Support UI */

.extra-links {
    display: flex;
    gap: 15px;

    margin-right: 20px;
}

.extra-links a {
    font-size: 12px;
    color: #ccc;
}

/* Search */

.search-box {
    width: 120px;
    height: 30px;
    background: #1c1c1c;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-right: 15px;
}

.search-box input {
    width: 90px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 12px;
}

.search-box button {
    background: none;
    border: none;
    color: #aaa;
}

/* Yellow circle */

.user-profile {
    width: 30px;
    height: 30px;
    background: #ffc915;
    border-radius: 50%;
}

/* =========================
   HERO
========================= */

.hero {
    height: 400px;
    background-image: url("hero-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Hero text */

.hero-content {
    position: absolute;
    left: 9%;
    top: 55px;
    width: 550px;
}

/* Product name */

.product-title {
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 12px;
}

.product-title span {
    font-size: 22px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 5px;
}

/* Main heading */

.hero-content h2 {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 12px;
}

/* Description */

.features p {
    font-size: 14px;
    color: #ddd;
    line-height: 1.7;
}

/* Buttons */

.hero-buttons {
    margin-top: 25px;
}

/*SECTION 2 - REALME P4s*/

.p4s-section {
    height: 640px;
    background: #f5f6f7;
    display: flex;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}


.p4s-content {
    width: 45%;
}

.p4s-content h2 {
    font-size: 58px;
    font-weight: 400;
    color: #111;
    margin-bottom: 20px;
}


/* 5G */

.p4s-content h2 span {
    font-size: 24px;
    border: 2px solid #111;
    border-radius: 15px;
    padding: 3px 8px;
    vertical-align: middle;
}


/* Main heading */

.p4s-content h3 {
    font-size: 32px;
    font-weight: 500;
    color: #111;
    margin-bottom: 25px;
}


/* Features */

.p4s-content p {
    font-size: 17px;
    line-height: 1.6;
    color: #111;
    margin: 0;
}

.p4s-buttons {
    margin-top: 35px;
}

.p4s-btn {
    display: inline-block;
    background: #dcdcdc;
    color: #111;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 15px;
}


.p4s-btn:hover {
    background: #cfcfcf;
}

.p4s-image {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p4s-image img {
    width: 100%;
    max-width: 750px;
    height: auto;
}


.btn {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

/* Buy button */

.btn-buy {
    background: white;
    color: black;
}

/* Learn button */

.btn-learn {
    background: #333;
    color: white;
}


.footer {
    background: #191919;
    padding: 50px 0 30px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Footer columns */
.footer-grid {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding-bottom: 40px;
}

/* Footer column */
.column {
    display: flex;
    flex-direction: column;
}

.column h4 {
    font-size: 14px;
    margin-bottom: 20px;
}

.column a {
    color: #888;
    font-size: 13px;
    margin-bottom: 12px;
}

.column a:hover {
    color: white;
}

/* Contact */

.contact-box {
    width: 220px;
}

.contact-box h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.chat-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: white;
    color: black;
    font-weight: bold;
}

.contact-box p {
    color: #888;
    font-size: 12px;
    margin-top: 8px;
}

/* Social icons */

.socials {
    display: flex;
    margin-top: 20px;
}

.circle {
    width: 32px;
    height: 32px;
    background: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #aaa;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    font-size: 12px;
    color: #777;
}

.bottom-left {
    display: flex;
    gap: 15px;
}

.bottom-left a {
    color: white;
}

.bottom-right {
    display: flex;
    gap: 15px;
}

.bottom-right a {
    color: #777;
}